

.col-12.d-flex.align-items-center.justify-content-center{
  background: rgb( 146, 204, 67);
  background: linear-gradient(rgb(160, 204, 94) 0%, rgb(124, 133, 125) 50%);
}
.card
{
  background-color: rgb(110, 119, 116);
}
.card-footer{
  background-color: rgb(110, 119, 116);
}
.form-group input{
color:black;}


