

.modal-header{
  background-color:rgb(85, 87, 85);
}
#safe{
  background-color:rgb(85, 87, 85);
}
.modal-title{
  color:white;
}
i{
  font-family:"times new roman", times, serif;
  font-weight:bold;
  font-size: 20px;
}