#regestration{
  /*background-image: url("../../../../../assets/img/image.jpeg");
  background-repeat: no-repeat;*/
  background: rgb( 146, 204, 67);
  background: linear-gradient(rgb(160, 204, 94) 0%, rgb(124, 133, 125) 50%);

}


.card-body
{
  background-color: rgb(110, 119, 116);
}
