
<section id="hover-effects" class="card">
  <div class="card-body">
    <div class="card-block my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase"></h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <p>
              dhhhfvhezfusYHGHFKUEZYHGCBIZEYEZMHGUEGbvcbSUOEFHVFfehfHFHFHJKFHfHKFkjfKHLFhFHHFHFH

            </p>

          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-lily">
              <img src="assets/img/contact/sscf.jpg" alt="img12" />
              <figcaption>
                <div>
                  <h2>
                    <span>Build Your Success</span>
                  </h2>

                </div>

              </figcaption>
            </figure>
          </div>
        </div>
      </div>

</div></div>
<div class="row">
  
  <a><i class="ft-mail"></i>sscf.embeddedsytem@gmail.com </a><br>
  <a> <i class="ft-phone-call">25868553-96964458</i></a>
</div>
</section>
<!--Basic google map starts-->
<section id="map">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Emplacement</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block mt-2">
                        <agm-map [latitude]="lat" [longitude]="lng">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic google map ends-->
